.a1{background-color:        #ffffff !important;border-color:  #ffffff !important;}
.a1 a, .a1 a:hover{color:    #6B698F !important;}
.b1{background-color:        #4674bf !important;}

.a2{background-color:        #d8bdab  !important;border-color: #d8bdab  !important;}
.a2 a, .a2 a:hover{color:    #222222  !important;}
.b2{background-color:        #aaaaaa  !important;}

.a3{background-color:        #FCFAF0  !important;border-color: #FCFAF0  !important}
.a3 a, .a3 a:hover{color:    #383941  !important;}
.b3{background-color:        #293846  !important;}

.a4{background-color:        #e8ddde  !important;border-color: #e8ddde  !important;}
.a4 a, .a4 a:hover{color:    #c82927  !important;}
.b4{background-color:        #131313  !important;}

.a5{background-color:        #120f0d  !important;border-color: #120f0d  !important;}
.a5 a, .a5 a:hover{color:    #cbb044  !important;}
.b5{background-color:        #f1f4f3  !important;}

.a6{background-color:        #74746E  !important;border-color: #74746E  !important;}
.a6 a, .a6 a:hover{color:    #13100C  !important;}
.b6{background-color:        #A4A693  !important;}

.a7{background-color:        #111321  !important;border-color: #111321  !important;}
.a7 a, .a7 a:hover{color:    #A0C0CC  !important;}
.b7{background-color:        #40719B  !important;}

.a8{background-color:        #D9D8D6  !important;border-color: #D9D8D6  !important;}
.a8 a, .a8 a:hover{color:    #887D78  !important;}
.b8{background-color:        #362A25  !important;}

.a9{background-color:        #f6f6ed  !important;border-color: #f6f6ed  !important;}
.a9 a, .a9 a:hover{color:    #93abc2  !important;}
.b9{background-color:        #979799  !important;}

.a10{background-color:       #90D5CA  !important;border-color: #90D5CA  !important;}
.a10 a, .a10 a:hover{color:  #5F5F71  !important;}
.b10{background-color:       #EACEBE  !important;}

.a11{background-color:       #21221F  !important;border-color: #21221F  !important;}
.a11 a, .a11 a:hover{color:  #78786E  !important;}
.b11{background-color:       #D7D6C6  !important;}

.a12{background-color:       #fdfffe  !important;border-color: #fdfffe  !important;}
.a12 a, .a12 a:hover{color:  #f29076  !important;}
.b12{background-color:       #accdc1  !important;}

.a13{background-color:       #F6D7BF  !important;border-color: #F6D7BF  !important;}
.a13 a, .a13 a:hover{color:  #54383B  !important;}
.b13{background-color:       #DEAC8B  !important;}

.a14{background-color:       #d1bdb5  !important;border-color: #d1bdb5  !important;}
.a14 a, .a14 a:hover{color:  #464868  !important;}
.b14{background-color:       #49423f  !important;}

.a15{background-color:       #CCBDBA  !important;border-color: #CCBDBA  !important;}
.a15 a, .a15 a:hover{color:  #2B2F3C  !important;}
.b15{background-color:       #FCF3EF  !important;}

.a16{background-color:       #f9f8f6  !important;border-color: #f9f8f6  !important;}
.a16 a, .a16 a:hover{color:  #043a6b  !important;}
.b16{background-color:       #fed6cc  !important;}

.a17{background-color:       #6ABEE2  !important;border-color: #6ABEE2  !important;}
.a17 a, .a17 a:hover{color:  #E6E1D3  !important;}
.b17{background-color:       #555068  !important;}

.a18{background-color:       #f4ece3  !important;border-color: #f4ece3  !important;}
.a18 a, .a18 a:hover{color:  #030000  !important;}
.b18{background-color:       #f61b0c  !important;}

.a19{background-color:       #ffffff  !important;border-color: #ffffff  !important;}
.a19 a, .a19 a:hover{color:  #1784f9  !important;}
.b19{background-color:       #001231  !important;}

.a20{background-color:       #ffffff  !important;border-color: #ffffff  !important;}
.a20 a, .a20 a:hover{color:  #c63239  !important;}
.b20{background-color:       #2e2d38  !important;}