@font-face { font-family: quicksand; src: url('src/Quicksand/Quicksand-Regular.ttf')}

::selection{
  background-color: var(--c2);
  color: var(--c3);
}

:root{
  --c1:#fff;
  --c2:#29f;
  --c3:#111;
}

html{
  background-color: #aaa;
  height: 100%;
  background-image: url(src/fondos/60.png);
  background-color: var(--c1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-repeat: no-repeat;
}

body{
  font-family: quicksand;
  height: 50px;
  margin: 0px;
}
/*
div#main{
  width: 540px;
  height: 210px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/
div#asadasa{
  width: 540px;
  height: 210px;
  padding: 5px;
  background-color: rgba(17,17,17,.7);
  transition: .5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 3px solid var(--c1);
  z-index: 2;
  box-shadow: 0px 0px 0px 6px var(--c3);
}

div#asadasa:hover{
  transition: .7s, box-shadow .2s, background-color .2s;
  border: 3px solid var(--c2);
  box-shadow: 0px 0px 0px 3px var(--c3);
  background-color: var(--c3);
}

div#head{
  width: 540px;
  height: 50px;
  text-align: center;
  border-bottom: 4px solid var(--c2);
}

div#head a{
  font-size: 40px;
  line-height: 40px;
  color: var(--c2);
  font-weight: bold;
  cursor: none;
}

div#body{
  width: 540px;
  height: 155px;
  text-align: center;
}

div#body a{
  color: var(--c1);
  text-decoration: underline;
  display: inline-block;
  margin: 5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  font-size: 22px;
  padding-left: 3px;
  padding-right: 3px;
  height: 29px;
  line-height: 29px;
  transition: background-color .4s, box-shadow .2s, color .5s;
  font-weight: bold;
}

div#body a:hover{
  background-color: var(--c2);
  color: var(--c3);
  box-shadow: 0px 3px 0px var(--c1);
  transition: background-color .6s, box-shadow .3s, color .2s;
  cursor: pointer;
}

/*Yeah boi*/
.bracket::before,
.bracket::after{
  display: inline-block;
  opacity: 0;
  transition: transform .7s, opacity .5s;
}

.bracket::before{
  margin-right: 5px;
  content: '[';
  transform: translateX(10px);
}

.bracket::after{
  margin-left: 5px;
  content: ']';
  transform: translateX(-10px);
}

.bracket:hover::before,
.bracket:hover::after{
  opacity: 1;
  transform: translateX(0px);
}

div#marco{
  width: 540px;
  height: 290px;
  padding: 5px;
  background-color: var(--c3);
  position: relative;
  top: 5px;
  border: 3px solid var(--c1);
  transition: .5s;
}

div#marco:hover{
  transition: .5s;
  border: 3px solid var(--c2);
}

div#imagen{
  width: 540px;
  height: 289px;
  position: relative;
  background-image: url(src/fondos/60.png);
  background-color: var(--c1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-repeat: no-repeat;
}
/*
div.laifu{
  width: 180px;
  height: 320px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  background-position: bottom left;
  background-image: url(src/waifus/1.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 1;
  transition: .5s;
}
*/