@font-face {
    font-family: lime;
    src: url(lime.bdf);
}

*{
  color: #fff;
  font-family: lime, sans-serif !important;
  text-decoration: none;
  font-size: 15px;
  transition: .2s;
  box-sizing: border-box;
  filter: none;
}

::-webkit-scrollbar,::-webkit-scrollbar-button, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner, ::-webkit-resizer{display: none;}

body{
  background-color: #000;
  margin: 0px;
}

div.background{
  position: fixed;
  top: -30px;
  bottom: -30px;
  left: -30px;
  right: -30px;
  width: calc(100% + 30);
  height: calc(100% + 30);
  z-index: 1;
  filter: blur(15px);
  background-color: #000;
  opacity: .3;
  background-size: cover;
  background-position: center;
}

div#main{
  display:flex;
  justify-content:center;
  align-items:center;
  position: absolute;
  width:100%;
  height:100%;
  filter: none !important;
  z-index: 2;
}

div#main div#submain{
  background-color: #000;
  width:600px;
  height:230px;
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 3;
}

div#main div#submain div{
  display: flex;
  justify-content: center;
  align-items: center;
}

div#main div#submain div a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#main div#submain div a:hover{color: #555;}
div#main div#submain div.one{grid-row: 1;}
div#main div#submain div.two{grid-row: 2;}
div#main div#submain div.three{grid-row: 3;}

div#main div#picture{
  width: 150px;
  height: 230px;
  background-color: #111;
  background-size: cover;
  background-position: center;
}

div#menu{
  position: fixed;
  height: 100%;
  width: 175px;
  border: 20px solid #000;
  background-color: #000;
  left: -155px;
  z-index: 2;
  overflow: scroll;
}

div#menu:hover{
  left: 0px;
}

div#menu a{
  display: block;
  padding: 20px;
  z-index: 2;
}

div#menu a:hover{color: #555;}
