html{
  background-image: url(src/pictures/);
  background-color: #bdc3c7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}

a{text-decoration: none;}

div#main{
  width: 537px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

div#head1{
  width: 537px;
  height: 100px;
  position: absolute;
  bottom: 200px;
  background-image: url(src/pictures/tokyoki.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  transition: .5s;
}

div#head1:hover{
  height: 150px;
  background-position: center -15px;
}

div#body{
  width: 537px;
  height: 200px;
  background-color: #eee;
  position: absolute;
  bottom: 0px;
}

div.grupo-links{
  width: 467px;
  height: 30px;
  padding: 10px;
  border-left: 50px solid;
  transition: .2s;
}

div.grupo-links:hover{background-color: #444;}

a.links{
  color: #888;
  font-size: 19px;
  display: inline-block;
  margin-right: 5px;
  padding-left:  3px;
  padding-right: 3px;
  transition: .5s;
  line-height: 30px;
  cursor: pointer;
}

div#grupo1{border-color: #f44336;}
div#grupo2{border-color: #FFC107;}
div#grupo3{border-color: #4CAF50;}
div#grupo4{border-color: #2196F3;}

div#grupo1 a:hover{color: #f44336;}
div#grupo2 a:hover{color: #FFC107;}
div#grupo3 a:hover{color: #4CAF50;}
div#grupo4 a:hover{color: #2196F3;}

#reddit,#nyaa,#leet,#technology{margin-right: 0px;margin-left: 0px;}

div#menu{
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -200px;
  z-index: 2;
  transition: 1s, opacity .5s;
  border-right: 5px solid #b5b5b5;
  opacity: 0;
}

div#menu:hover{
  left: 0px;
  border-right: none;
  opacity: 1;
  transition: 1s, opacity .5s;
}

div#contenido{
  width: 200px;
  height: 100%;
  background-color: #2e2e2e;
  position: absolute;
  left: 0px;
}

div#loli{
  width: 180px;
  height: 180px;
  background-color: #333;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background-image: url(src/pictures/54809987_p0_master1200.jpg);
  background-size: 270%;
  background-position: -100px -20px;
  z-index: 2;
  box-shadow: 0px 5px 15px #111;
  background-repeat: no-repeat;
  transition: .5s;
}

div#links2{
  width: 180px;
  height: 300px;
  padding: 10px;
  position: absolute;
  top: 190px;
}

div#links2 a{
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  color: #d6d6d6;
  font-size: 19px;
  transition: .2s;
  position: relative;
  top: 10px;
}

div#links2 a:hover{
  background-color: #424242;
}

{652}